.swiper-wrapper {
    box-sizing: border-box;
    z-index: 0;
}

.swiper-container {
    width: 100%;
    height: 300px;
    z-index:0;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    background-position: center;
    background-size: cover;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;

}

.swiper-pagination-bullet-active {
    background: #FC735D;
}

.swiper-button-next.swiper-button-red,
.swiper-container-rtl .swiper-button-prev.swiper-button-red {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%230F647D'%2F%3E%3C%2Fsvg%3E")
}

.swiper-button-prev.swiper-button-red,
.swiper-container-rtl .swiper-button-next.swiper-button-red {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%230F647D'%2F%3E%3C%2Fsvg%3E")
}
