<template name="modalItsAMatch">
    <div class="header">
        It's a Match
        {{#if superlike}}
            <div class="sub">You and {{info.profile.firstname}} super liked each other.</div>
        {{else}}
            <div class="sub">You and {{info.profile.firstname}} liked each other.</div>
        {{/if}}
    </div>
    <div class="content centered">
        {{#if superlike}}
            <div class="tinder itsAMatch photo user"></div>
            <div class="tinder itsAMatch super-like"></div>
        {{else}}
            <div class="tinder itsAMatch photo user mr"></div>
        {{/if}}
        <div class="tinder itsAMatch photo" style="background-image: url('{{currentImage}}');"></div>
    </div>
    <div class="actions">
        <div data-id="{{image}}" class="fluid ui large button inverted approve">
            <i class="user icon"></i> View Match
        </div>
        <div class="fluid ui large button inverted cancel">
            <i class="heart icon"></i> Keep on Playing
        </div>
    </div>
</template>

<template name="modalProfile">
    <i class="close icon"></i>
    <div class="ui fluid image">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                {{#each orderedImages}}
                <div class="swiper-slide" style="background-image:url('{{this}}')"></div>
                {{/each}}
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
    <div class="header">
        <h1 class="name">{{info.profile.firstname}}, <span class="age">{{info.profile.age}}</span></h1> {{#each info.profile.studies}}
        <h2 class="info">{{this}}</h2> {{/each}}
        <h3 class="distance">near {{info.profile.address.city}}</h3>
    </div>
    <div class="content">
        {{{info.profile.description}}}
    </div>

    <div class="ui divider nm"></div>

    <div class="content">
        <div class="ui tiny header">{{info.profile.education.length}} Educations</div>
        {{#each info.profile.education}}
            <div class="education item">
                <div class="title">{{this.title}}</div>
                <div class="specialization">{{this.specialization}}</div>
                <div class="institution">{{this.institution}}</div>
            </div>
        {{/each}}
    </div>

    <div class="ui divider nm"></div>

    <div class="content">
        <div class="ui tiny header">{{info.profile.fields.length}} Fields of Study</div>
        {{#each info.profile.fields}}
            <div class="tinder label">{{this}}</div>
        {{/each}}
    </div>

    <div class="ui divider nm"></div>

    <div class="content">
        <div class="swiper-container-skills">
            <div class="ui tiny header">
                {{info.profile.skills.length}} Selected Skills
                <div class="swiper-pagination-skills"></div>
            </div>
            <div class="swiper-wrapper">
                {{#each chunkedSkills}}
                    <div class="swiper-slide ui three column grid padded">
                        {{#each this}}
                            <div class="column skills left floated">
                                <div class="item">
                                    <div class="badge" style="background-image:url('{{this.image}}');"></div>
                                    <div class="text">{{this.name}}</div>
                                </div>
                            </div>
                        {{/each}}
                    </div>
                {{/each}}
            </div>
        </div>
    </div>

    <div class="ui divider nm"></div>

    <div class="content">
        <div class="swiper-container-portfolio">
            <div class="ui tiny header">
                {{info.profile.portfolio.length}} Portfolio Items
                <div class="swiper-pagination-portfolio"></div>
            </div>
            <div class="swiper-wrapper">
                {{#each chunkedPortfolio}}
                    <div class="swiper-slide ui three column grid padded">
                        {{#each this}}
                            <div class="column portfolio left floated">
                                <div class="item" style="background-image:url('{{this.images.[0]}}');" title="{{this.title}}"></div>
                            </div>
                        {{/each}}
                    </div>
                {{/each}}
            </div>
        </div>
    </div>

    <div class="ui divider nm"></div>

    <div class="content">
        <div class="ui tiny header">{{info.profile.languages.length}} Languages</div>
        <div class="ui three column grid padded">
            {{#each info.profile.languages}}
                <div class="column skills left floated">
                    <div class="item">
                        <div class="badge circular" style="background-image:url('{{this.image}}');"></div>
                        <div class="text">{{this.name}}</div>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>

</template>

<template name="modal">
	<div class="ui {{this.modal.classes}} modal">
		{{> UI.dynamic template=this.modal.template data=this.data}}
	</div>
</template>